.navbar 
{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.box:hover
{
    
    background-color: rgb(10, 116, 158);
    border-radius: 5px;
}
.box:first-child
{
    margin-left: auto;
    
}
.box:last-child
{
    margin-right: auto;
   
}

